build/html/pages/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="format-detection" content="telephone=no"/>
    
    <link rel="stylesheet" href="../../css/commin.min.css">
    <title></title>
  </head>
  <body>
    <div class="page page-1">
      <header class="header text-white">
        <div class="container pos-rel">
          <div class="header__banner pull-2"><img src="../../images/page-1/header-banner-1.png" alt=""/></div>
          <div class="header__top flex justify-between">
            <div class="header__logo flex-shrink"><img src="../../images/icons/logo.png" alt=""/></div>
            <div class="header__contact"><a href="tel:8(800)5000123" class="link fsz-26 fw-bold header__phone snd-font">8 (800) <span class="text-red">500-01-23</span></a>
              <div class="fsz-14 text-underline">Звонок бесплатный</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="header-content">
                <h1 class="header__title">Подключите HoReCa-пакет «Триколор» и экран в зале превратится в магнит для посетителей.</h1>
                <p class="fsz-21">Цена подключения с оборудованием:</p>
                <div class="header__price snd-font">
                  <div class="d-inline-b fsz-72 extra">1250</div>
                  <div class="d-inline-b fsz-24"><span class="thrd-font">₽ </span><span>в месяц</span></div>
                </div>
                <div class="header__button"><a href="#!" class="button button-red button-arrow">Оставить заявку</a>
                  <div class="text-gray fsz-14 header__info">* Пакет «для маленьких заведений» без Ultra HD — 750 ₽ в месяц.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="offset-10"><img src="../../images/icons/label.png" alt="" class="label"/></div>
          </div>
        </div>
      </header>
      <div class="section-promo">
        <div class="container">
          <div class="row">
            <div class="col-md-10">
              <div class="section-promo__text">
                <p class="fsz-21 snd-font text-black">Вы открываете кафе, придумываете атмосферу заведения, делаете дорогой интерьер, устанавливаете огромную плазму, чтобы показывать на ней… обычное ТВ?!</p>
                <p class="fsz-14">Фанат футбола не будет смотреть Мундиаль, <br/> если на экране невозможно разглядеть <br/> игроков.</p>
              </div>
            </div>
          </div>
          <div class="flex align-start">
            <div class="blue-box flex-shrink">
              <div class="blue-box__icons flex align-center"><img src="../../images/icons/4k.svg" alt="" class="img4k"/><img src="../../images/icons/label.png" alt="" class="label"/></div>
              <h3 class="blue-box__title">В HoReCa-пакет «Триколор» входят каналы в 4K Ultra HD качестве. </h3>
              <div class="fsz-14 text-gray">Гости разглядят цвет глаз голкипера.</div>
            </div>
            <div class="section-promo__banner"><img src="../../images/page-1/promo-img-1.png" alt=""/>
              <form class="section-promo__form js-validate">
                <div class="flex">
                  <div class="input-wrap flex-grow">
                    <input type="text" placeholder="Телефон" cmi_id="Phone" class="js-phone"/>
                  </div>
                  <button class="button button-red">Отправить заявку</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="tvprogram">
        <div class="container">
          <div class="row">
            <div class="col offset-sm-3">
              <h2>А что, кроме спорта, есть в HoReCa-пакете  «Триколор»? </h2>
              <div class="fsz-21">Передачи для всех гостей и заведений:</div>
            </div>
          </div>
        </div>
        <div class="tvprogram__list flex justify-center">
          <div class="tvprogram__item">
            <div class="tvprogram__desc fsz-14">Mультики для детей</div>
            <div class="tvprogram__img"><img src="../../images/page-1/tvprogramm-1.png" alt=""/></div>
          </div>
          <div class="tvprogram__item">
            <div class="tvprogram__desc fsz-14">Природа для <br/> усталых менеджеров</div>
            <div class="tvprogram__img"><img src="../../images/page-1/tvprogramm-2.png" alt=""/></div>
          </div>
          <div class="tvprogram__item">
            <div class="tvprogram__desc fsz-14">10 спортивных каналов <br/> для болельщиков</div>
            <div class="tvprogram__img"><img src="../../images/page-1/tvprogramm-3.png" alt=""/></div>
          </div>
          <div class="tvprogram__item">
            <div class="tvprogram__desc fsz-14">5 музыкальных каналов для <br/> бодрых дискотек и спокойных <br/> медитаций над фалафелем</div>
            <div class="tvprogram__img"><img src="../../images/page-1/tvprogramm-4.png" alt=""/></div>
          </div>
        </div>
      </div>
      <div class="section-advant">
        <div class="container">
          <div class="flex align-start">
            <div class="section-advant__banner"><img src="../../images/page-1/promo-img-2.jpg" alt=""/></div>
            <div class="section-advant__content">
              <div class="section-advant__text">
                <h2>А почему так дорого? <br/> Я видел дешевле!</h2>
                <p class="fsz-17">Потому что вы платите не за «коробку с проводами», а за интересные передачи в максимальном качестве, и получаете не картинку в телевизоре, а довольных посетителей. К тому же для сетевых заведений есть скидки.</p>
              </div>
              <div class="blue-box flex-shrink">
                <div class="blue-box__icons"><img src="../../images/icons/label.png" alt="" class="label"/></div>
                <h3 class="blue-box__title">Под передачи «Триколор» потребление кофе растет на 10%, а мяса - на 20%*</h3>
                <div class="fsz-14 text-gray">* по результатам личных экспериментов</div>
              </div>
            </div>
          </div>
          <div class="section-advant__list">
            <div class="row">
              <div class="col-lg-6">
                <div class="adv-item flex">
                  <div class="adv-item__icon">
                    <div class="iconic iconic--adv-profile flex-shrink"></div>
                  </div>
                  <div class="adv-item__desc">
                    <div class="adv-item__title fsz-21">Мне некогда этим заниматься                  </div>
                    <div class="adv-item__text flex">
                      <div class="iconic iconic--triangle flex-shrink"></div>
                      <p>Заполнить заявку - 2 минуты, обсудить условия и дату подключения - еще 5.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="adv-item flex">
                  <div class="adv-item__icon">
                    <div class="iconic iconic--adv-profile flex-shrink"></div>
                  </div>
                  <div class="adv-item__desc">
                    <div class="adv-item__title fsz-21">Я боюсь за интерьер                </div>
                    <div class="adv-item__text flex">
                      <div class="iconic iconic--triangle flex-shrink"></div>
                      <p>Приемник легко спрячется <br/> за телевизором.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="adv-item flex">
                  <div class="adv-item__icon">
                    <div class="iconic iconic--adv-profile flex-shrink"></div>
                  </div>
                  <div class="adv-item__desc">
                    <div class="adv-item__title fsz-21">Мне не дадут разрешение на установку спутниковой тарелки!          </div>
                    <div class="adv-item__text flex">
                      <div class="iconic iconic--triangle flex-shrink"></div>
                      <p>Теперь «Триколор» работает через интернет, причем Ultra HD-каналы доступны именно при интернет-вещании.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="adv-item flex">
                  <div class="adv-item__icon">
                    <div class="iconic iconic--adv-profile flex-shrink"></div>
                  </div>
                  <div class="adv-item__desc">
                    <div class="adv-item__title fsz-21">Можно ли включить повтор матча (фильма, клипа), который понравился гостям?         </div>
                    <div class="adv-item__text flex">
                      <div class="iconic iconic--triangle flex-shrink"></div>
                      <p>Да, в цифровом телевидении есть <br/> функция перемотки.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="adv-item flex">
                  <div class="adv-item__icon">
                    <div class="iconic iconic--adv-profile flex-shrink"></div>
                  </div>
                  <div class="adv-item__desc">
                    <div class="adv-item__title fsz-21">А если нет интернета?</div>
                    <div class="adv-item__text flex">
                      <div class="iconic iconic--triangle flex-shrink"></div>
                      <p>Тогда спутниковая тарелка. Если у вас есть <br/> розетка, у вас будет «Триколор».</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="blue-box youget w100">
          <div class="blue-box__icons"><img src="../../images/icons/label.png" alt="" class="label"/></div>
          <h2 class="youget__title text-center">За 1250 <span class="thrd-font">₽</span> в месяц вы получаете:</h2>
          <div class="youget__list flex flex-wrap">
            <div class="youget__item">
              <div class="youget__icon"><img src="../../images/icons/youget-1.svg" alt=""/></div>
              <div class="youget__text fsz-17">ТВ-картинку такого качества, которое в России практически не встречается</div>
            </div>
            <div class="youget__item">
              <div class="youget__icon"><img src="../../images/icons/youget-2.svg" alt=""/></div>
              <div class="youget__text fsz-17">Просмотр передач в записи</div>
            </div>
            <div class="youget__item">
              <div class="youget__icon"><img src="../../images/icons/youget-3.svg" alt=""/></div>
              <div class="youget__text fsz-17">Пакет из 98 телеканалов</div>
            </div>
            <div class="youget__item">
              <div class="youget__icon"><img src="../../images/icons/youget-4.svg" alt=""/></div>
              <div class="youget__text fsz-17">Оборудование в комплекте</div>
            </div>
            <div class="youget__item">
              <div class="youget__icon"><img src="../../images/icons/youget-5.svg" alt=""/></div>
              <div class="youget__text fsz-17">Из них 20 — в Ultra HD</div>
            </div>
            <div class="youget__item">
              <div class="youget__icon"><img src="../../images/icons/youget-6.svg" alt=""/></div>
              <div class="youget__text fsz-17">Выбор подключения: интернет / <br/> спутниковая тарелка</div>
            </div>
          </div>
        </div>
      </div>
      <div class="install-form">
        <h2 class="install-form__title text-center">Подключайте «Триколор»</h2>
        <form class="js-validate"></form>
        <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="input-wrap flex-grow">
                <input type="text" placeholder="Ваше имя" cmi_id="Text"/>
              </div>
            </div>
            <div class="col-6">
              <div class="input-wrap flex-grow">
                <input type="text" placeholder="Телефон" cmi_id="Phone" class="js-phone"/>
              </div>
            </div>
            <div class="col-12 text-center">
              <button class="button button-red">Отправить заявку</button>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="flex justify-between">
            <div class="footer__block">
              <p>© НАО «Национальная спутниковая компания», г. Санкт-Петербург, 197022, а/я 170</p>
              <ul class="footer-social flex">
                <li><a href="#!" class="link footer-social__link"><img src="../../images/icons/vk.svg" alt=""/></a></li>
                <li><a href="#!" class="link footer-social__link"><img src="../../images/icons/twitter.svg" alt=""/></a></li>
                <li><a href="#!" class="link footer-social__link"><img src="../../images/icons/facebook.svg" alt=""/></a></li>
                <li><a href="#!" class="link footer-social__link"><img src="../../images/icons/odnoklassniki.svg" alt=""/></a></li>
                <li><a href="#!" class="link footer-social__link"><img src="../../images/icons/youtube.svg" alt=""/></a></li>
                <li><a href="#!" class="link footer-social__link"><img src="../../images/icons/instagram.svg" alt=""/></a></li>
              </ul>
            </div>
            <div class="footer__block">
              <p>Служба поддержки клиентов: отправить заявку По вопросам размещения рекламы на ресурсах Триколора: info@agency2.su  Ваши предложения и замечания: отправить заявку  Политика обработки и обеспечения безопасности персональных данных Управление cookies</p>
              <p class="text-upper">Разработка сайта –  <img src="../../images/icons/creater-logo.png" alt=""/></p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="../../scripts/vendor.min.js"></script>
    <script src="../../scripts/common.min.js"></script>
  </body>
</html>

src/jade/pages/index.jade
extends ../template/template
include ../_mixins


block vars
  - title = '';
  - pageClass = ''

block content
  .page.page-1
    header.header.text-white
      .container.pos-rel
        .header__banner.pull-2
          img(src="../../images/page-1/header-banner-1.png", alt="")
        .header__top.flex.justify-between
          .header__logo.flex-shrink
            img(src="../../images/icons/logo.png", alt="")
          .header__contact
            a(href="tel:8(800)5000123").link.fsz-26.fw-bold.header__phone.snd-font 8 (800) <span class="text-red">500-01-23</span>
            .fsz-14.text-underline Звонок бесплатный
        .row
          .col-md-6
            .header-content
              h1.header__title Подключите HoReCa-пакет «Триколор» и экран в зале превратится в магнит для посетителей.
              p.fsz-21 Цена подключения с оборудованием:
              .header__price.snd-font
                .d-inline-b.fsz-72.extra 1250
                .d-inline-b.fsz-24
                  span.thrd-font ₽ 
                  span в месяц
              .header__button
                a(href="#!").button.button-red.button-arrow Оставить заявку
                .text-gray.fsz-14.header__info * Пакет «для маленьких заведений» без Ultra HD — 750 ₽ в месяц.
        .row
          .offset-10
            img(src="../../images/icons/label.png", alt="").label        

    .section-promo
      .container
        .row
          .col-md-10
            .section-promo__text
              p.fsz-21.snd-font.text-black Вы открываете кафе, придумываете атмосферу заведения, делаете дорогой интерьер, устанавливаете огромную плазму, чтобы показывать на ней… обычное ТВ?!
              p.fsz-14 Фанат футбола не будет смотреть Мундиаль, <br/> если на экране невозможно разглядеть <br/> игроков.
        
        .flex.align-start
          .blue-box.flex-shrink
            .blue-box__icons.flex.align-center
              img(src="../../images/icons/4k.svg", alt="").img4k
              img(src="../../images/icons/label.png", alt="").label
            h3.blue-box__title В HoReCa-пакет «Триколор» входят каналы в 4K Ultra HD качестве. 
            .fsz-14.text-gray Гости разглядят цвет глаз голкипера.

          .section-promo__banner
            img(src="../../images/page-1/promo-img-1.png", alt="")
            form.section-promo__form.js-validate
              .flex
                .input-wrap.flex-grow
                  input(type="text" placeholder="Телефон" cmi_id="Phone" class="js-phone")
                button.button.button-red Отправить заявку

    .tvprogram
      .container
        .row
          .col.offset-sm-3
            h2 А что, кроме спорта, есть в HoReCa-пакете  «Триколор»? 
            .fsz-21 Передачи для всех гостей и заведений:
      .tvprogram__list.flex.justify-center
        .tvprogram__item
          .tvprogram__desc.fsz-14 Mультики для детей
          .tvprogram__img
            img(src="../../images/page-1/tvprogramm-1.png", alt="")
        .tvprogram__item
          .tvprogram__desc.fsz-14 Природа для <br/> усталых менеджеров
          .tvprogram__img
            img(src="../../images/page-1/tvprogramm-2.png", alt="")
        .tvprogram__item
          .tvprogram__desc.fsz-14 10 спортивных каналов <br/> для болельщиков
          .tvprogram__img
            img(src="../../images/page-1/tvprogramm-3.png", alt="")
        .tvprogram__item
          .tvprogram__desc.fsz-14 5 музыкальных каналов для <br/> бодрых дискотек и спокойных <br/> медитаций над фалафелем
          .tvprogram__img
            img(src="../../images/page-1/tvprogramm-4.png", alt="")

    .section-advant
      .container
        .flex.align-start
          .section-advant__banner
            img(src="../../images/page-1/promo-img-2.jpg", alt="")
          .section-advant__content
            .section-advant__text
              h2 А почему так дорого? <br/> Я видел дешевле!
              p.fsz-17 Потому что вы платите не за «коробку с проводами», а за интересные передачи в максимальном качестве, и получаете не картинку в телевизоре, а довольных посетителей. К тому же для сетевых заведений есть скидки.

            .blue-box.flex-shrink
              .blue-box__icons
                img(src="../../images/icons/label.png", alt="").label
              h3.blue-box__title Под передачи «Триколор» потребление кофе растет на 10%, а мяса - на 20%*
              .fsz-14.text-gray * по результатам личных экспериментов
        .section-advant__list
          .row
            .col-lg-6
              .adv-item.flex
                .adv-item__icon
                  .iconic.iconic--adv-profile.flex-shrink
                .adv-item__desc
                  .adv-item__title.fsz-21 Мне некогда этим заниматься                  
                  .adv-item__text.flex
                    .iconic.iconic--triangle.flex-shrink
                    p Заполнить заявку - 2 минуты, обсудить условия и дату подключения - еще 5.
          .row
            .col-lg-6
              .adv-item.flex
                .adv-item__icon
                  .iconic.iconic--adv-profile.flex-shrink
                .adv-item__desc
                  .adv-item__title.fsz-21 Я боюсь за интерьер                
                  .adv-item__text.flex
                    .iconic.iconic--triangle.flex-shrink
                    p Приемник легко спрячется <br/> за телевизором.
            .col-lg-6
              .adv-item.flex
                .adv-item__icon
                  .iconic.iconic--adv-profile.flex-shrink
                .adv-item__desc
                  .adv-item__title.fsz-21 Мне не дадут разрешение на установку спутниковой тарелки!          
                  .adv-item__text.flex
                    .iconic.iconic--triangle.flex-shrink
                    p Теперь «Триколор» работает через интернет, причем Ultra HD-каналы доступны именно при интернет-вещании.
          .row
            .col-lg-6
              .adv-item.flex
                .adv-item__icon
                  .iconic.iconic--adv-profile.flex-shrink
                .adv-item__desc
                  .adv-item__title.fsz-21 Можно ли включить повтор матча (фильма, клипа), который понравился гостям?         
                  .adv-item__text.flex
                    .iconic.iconic--triangle.flex-shrink
                    p Да, в цифровом телевидении есть <br/> функция перемотки.
            .col-lg-6
              .adv-item.flex
                .adv-item__icon
                  .iconic.iconic--adv-profile.flex-shrink
                .adv-item__desc
                  .adv-item__title.fsz-21 А если нет интернета?
                  .adv-item__text.flex
                    .iconic.iconic--triangle.flex-shrink
                    p Тогда спутниковая тарелка. Если у вас есть <br/> розетка, у вас будет «Триколор».

    .container
      .blue-box.youget.w100
        .blue-box__icons
          img(src="../../images/icons/label.png", alt="").label
        h2.youget__title.text-center За 1250 <span class="thrd-font">₽</span> в месяц вы получаете:
        .youget__list.flex.flex-wrap
          .youget__item
            .youget__icon
              img(src="../../images/icons/youget-1.svg", alt="")
            .youget__text.fsz-17 ТВ-картинку такого качества, которое в России практически не встречается
          .youget__item
            .youget__icon
              img(src="../../images/icons/youget-2.svg", alt="")
            .youget__text.fsz-17 Просмотр передач в записи
          .youget__item
            .youget__icon
              img(src="../../images/icons/youget-3.svg", alt="")
            .youget__text.fsz-17 Пакет из 98 телеканалов
          .youget__item
            .youget__icon
              img(src="../../images/icons/youget-4.svg", alt="")
            .youget__text.fsz-17 Оборудование в комплекте
          .youget__item
            .youget__icon
              img(src="../../images/icons/youget-5.svg", alt="")
            .youget__text.fsz-17 Из них 20 — в Ultra HD
          .youget__item
            .youget__icon
              img(src="../../images/icons/youget-6.svg", alt="")
            .youget__text.fsz-17 Выбор подключения: интернет / <br/> спутниковая тарелка


    .install-form
      h2.install-form__title.text-center Подключайте «Триколор»
      form.js-validate
      .container
        .row
          .col-6
            .input-wrap.flex-grow
              input(type="text" placeholder="Ваше имя" cmi_id="Text")
          .col-6
            .input-wrap.flex-grow
              input(type="text" placeholder="Телефон" cmi_id="Phone" class="js-phone")
          .col-12.text-center
            button.button.button-red Отправить заявку


    include ../template/footer
