src/jade/template/footer.jade
include ../_mixins

footer.footer
  .container
    .flex.justify-between
      .footer__block
        p © НАО «Национальная спутниковая компания», г. Санкт-Петербург, 197022, а/я 170
        ul.footer-social.flex
          li
            a(href="#!").link.footer-social__link: img(src="../../images/icons/vk.svg", alt="")
          li
            a(href="#!").link.footer-social__link: img(src="../../images/icons/twitter.svg", alt="")
          li
            a(href="#!").link.footer-social__link: img(src="../../images/icons/facebook.svg", alt="")
          li
            a(href="#!").link.footer-social__link: img(src="../../images/icons/odnoklassniki.svg", alt="")
          li
            a(href="#!").link.footer-social__link: img(src="../../images/icons/youtube.svg", alt="")
          li
            a(href="#!").link.footer-social__link: img(src="../../images/icons/instagram.svg", alt="")

      .footer__block
        p Служба поддержки клиентов: отправить заявку По вопросам размещения рекламы на ресурсах Триколора: info@agency2.su  Ваши предложения и замечания: отправить заявку  Политика обработки и обеспечения безопасности персональных данных Управление cookies
        p.text-upper Разработка сайта –  
          img(src="../../images/icons/creater-logo.png", alt="")

src/html/template/footer.html

<footer class="footer">
  <div class="container">
    <div class="flex justify-between">
      <div class="footer__block">
        <p>© НАО «Национальная спутниковая компания», г. Санкт-Петербург, 197022, а/я 170</p>
        <ul class="footer-social flex">
          <li><a href="#!" class="link footer-social__link"><img src="../../images/icons/vk.svg" alt=""/></a></li>
          <li><a href="#!" class="link footer-social__link"><img src="../../images/icons/twitter.svg" alt=""/></a></li>
          <li><a href="#!" class="link footer-social__link"><img src="../../images/icons/facebook.svg" alt=""/></a></li>
          <li><a href="#!" class="link footer-social__link"><img src="../../images/icons/odnoklassniki.svg" alt=""/></a></li>
          <li><a href="#!" class="link footer-social__link"><img src="../../images/icons/youtube.svg" alt=""/></a></li>
          <li><a href="#!" class="link footer-social__link"><img src="../../images/icons/instagram.svg" alt=""/></a></li>
        </ul>
      </div>
      <div class="footer__block">
        <p>Служба поддержки клиентов: отправить заявку По вопросам размещения рекламы на ресурсах Триколора: info@agency2.su  Ваши предложения и замечания: отправить заявку  Политика обработки и обеспечения безопасности персональных данных Управление cookies</p>
        <p class="text-upper">Разработка сайта –  <img src="../../images/icons/creater-logo.png" alt=""/></p>
      </div>
    </div>
  </div>
</footer>
